---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Welcome to my corner of the digital world! I'm Ivan, a Computer Science
    Engineering graduate with a passion for crafting beautiful and functional
    mobile applications. My journey in the tech industry began with a role as a
    Data Scientist, where I honed my analytical skills and learned to derive
    insights from data. While I enjoyed the world of data, my heart has always
    been drawn to the creative realm of mobile app development. I've since
    transitioned into the exciting world of iOS and Android app development,
    where I bring my technical expertise and creative flair together to build
    user-friendly and visually captivating apps. My goal is to create mobile
    experiences that not only meet user needs but also leave a lasting
    impression. Whether you have a unique app concept, need assistance with
    enhancing an existing project, or require technical expertise in the realm
    of mobile app development, I'm here to collaborate and bring your vision to
    life. Feel free to reach out, and let's explore how we can work together to
    make your mobile app dreams a reality.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's in Computer Science Engineering."
      subtitle="Hungary"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="iOS & Android Developer" />
    <TimeLineElement title="Software Developer" />
    <TimeLineElement title="iOS Developer" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">FCE - University of Cambridge</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Flutter</li>
    <li>SwiftUI</li>
    <li>iOS</li>
    <li>Web Development</li>
    <li>React</li>
    <li>React Native</li>
    <li>Vue</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>AWS</li>
  </ul>
</BaseLayout>
